In [15]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv')

#### Get Average of Petal Length

In [47]:
df['petal_length'].mean()

3.7586666666666693

#### Create new column "Petal Area"  and calculatue petals area (petal width * petal length)

In [48]:
df['Petal Area'] = df['petal_length'] * df['petal_width']

#### Capitalize all species in species column

In [50]:
df.species.apply(lambda x: x.title())

In [55]:
df['species'].str.capitalize()

In [ ]:
df.species = df.species.apply(lambda x: x.capitalize())

#### Get the Average Sepal Length, Sepal Width, Petal Length, Petal Width of each species

In [56]:
df.groupby(['species']).mean()

            sepal_length  sepal_width  petal_length  petal_width  Petal Area
species
Setosa             5.006        3.418         1.464        0.244      0.3628
Versicolor         5.936        2.770         4.260        1.326      5.7204
Virginica          6.588        2.974         5.552        2.026     11.2962